{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script type="text/javascript" src="{% static 'janus.js' %}"></script>
    <script type="text/javascript" src="{% static 'videoroomtest.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Streamer

                </h1>
            </div>
            <p class="lead">Your IP is: {{ host_ip }}</p>
            <div class="container" id="videojoin">
                <div class="row">
                    <span class="label label-info" id="you"></span>
                    <div class="col-md-12" id="controls">
                        <div class="input-group margin-bottom-md hide" id="registernow">
                            <span class="input-group-addon">@</span>
                            <input autocomplete="off" class="form-control" type="text"
                                   placeholder="Choose a display name" id="username"
                                   onload="return checkEnter(this, event);"/>
                            <span class="input-group-btn">
									<button class="btn btn-success" autocomplete="off" id="register">Join the
										room</button>
								</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="videos">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Local Video <span class="label label-primary hide"
                                                                  id="publisher"></span>
                            <div class="btn-group btn-group-xs pull-right hide">
                                <div class="btn-group btn-group-xs">
                                    <button id="bitrateset" autocomplete="off"
                                            class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Bandwidth<span class="caret"></span>
                                    </button>
                                    <ul id="bitrate" class="dropdown-menu" role="menu">
                                        <li><a href="#" id="0">No limit</a></li>
                                        <li><a href="#" id="128">Cap to 128kbit</a></li>
                                        <li><a href="#" id="256">Cap to 256kbit</a></li>
                                        <li><a href="#" id="512">Cap to 512kbit</a></li>
                                        <li><a href="#" id="1024">Cap to 1mbit</a></li>
                                        <li><a href="#" id="1500">Cap to 1.5mbit</a></li>
                                        <li><a href="#" id="2000">Cap to 2mbit</a></li>
                                    </ul>
                                </div>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body" id="videolocal"></div>


                </div>
            </div>
        </div>
        <div class="mt-5">
            <button class="btn btn-primary btn-xl" onclick="shareRTP();">Forward RTP</button>
{#            <a href="{% url 'run_ffmpeg' %}" target="_blank" rel="noopener noreferrer">#}
{#                <button class="btn btn-success btn-xl" >Run ffmpeg</button>#}
{#            </a>#}
        </div>

    </div>
{% endblock %}

{% block additional_scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('#username').value = 'test';
            document.querySelector('#register').click();
        });
    </script>
    <script>
        function shareRTP() {
            var rtpforwarding = {
                request: "rtp_forward",
                room: myroom,
                publisher_id: myid,
                host: "{{host_ip}}",
                audio_port: 7500,
                video_port: 7000,
                secret: 'adminpwd'
            }

            sfutest.send({
                message: rtpforwarding,
                success: function (result) {
                    console.log(result);
                }
            });

        }
    </script>
{% endblock %}
